*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Intellij IDEA
*.iml
.idea/

# Package Files #
*.war
*.ear


build/
*.jar

hackerbrasileiro.ipr
hackerbrasileiro.iws
out/
photos/
logs/
.gradle/
facemorpher/result.png
allhackers.csv
hackers_*.csv
*.log


.vagrant/
hackerbrasileiro.log

.DS_Store
src/main/java/.DS_Store
src/main/java/br/.DS_Store
src/main/java/br/com/.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
