body{
    font-family: 'Open Sans', serif;
}
label {
	display:block;
	font-weight:normal;
	color: #000;
}

#formulario-informacoes {
  display:none;
}

#camera-picture {
  display: none;
}

#final-screen {
  display: none;
}

#logo {
  background-image: url("../img/logotw.png");
  height: 100px;
  background-repeat: no-repeat;
  background-position: 95%;
}

#main-header {

    margin-top: 60px;
}

.main-header-normal-font{
    font-size: 2.2em;
}

.main-header-small-font{
    font-size: 1.7em;
}


#sub-header {
    font-style: italic;
    margin-bottom: 40px;

}
.sub-header-normal-font {
    font-size: 4.0em;
}

.sub-header-small-font {
    font-size: 2.5em;
}

#legal {
    font-size: 1.2em;
    text-align: justify;
}

#checkbox-agreement {
  font-size: 1.2em;
  padding-left: 20px;
}

#low-center {
  width: 350px;
  margin: auto;
  margin-top: 575px;
  margin-left: 122px;
}

#low-center-confirm {
  margin: auto;
  margin-top: 575px;
  margin-left: 15px;
}

#video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#hacker {
    font-weight: 800;
}

#canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;

}

#legal-button {
    background-color: #FFF;
    border: 1px solid #AAA;
    font-size: 1.5em;
    padding: 5px;
    width: 250px;
    margin-left: 25px;
}

ul li {
    margin-bottom: 20px;
}

#start-form {
    text-align: center;
    padding-top: 20px;
}

.confirm-button {
  background-color: purple;
  color: #FFF;
  border: 1px solid #AAA;
  font-size: 2em;
  font-weight: 800;
  padding: 5px;
  width: 350px;
  height: 70px;
  margin-top:20px;
}

.cancel-button {
  background-color: #999;
  color: #FFF;
  border: 1px solid #AAA;
  font-size: 1.4em;
  font-weight: 800;
  padding: 5px;
  width: 225px;
  height: 70px;
  float: left;
  margin-left: 20px;
}

.ok-button {
  background-color: purple;
  color: #FFF;
  border: 1px solid #AAA;
  font-size: 1.5em;
  font-weight: 800;
  padding: 5px;
  width: 225px;
  height: 70px;
  margin-left: 20px;
}
input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(2.5);

  /* Webkit browsers*/
  -webkit-transform: scale(2.5);
}

.text {
  font-size: 2.1em;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

#empty-space {
  height: 30px;
}

#cameraInput{
    display:none;
}

.btn-file {
    position: relative;
    display: block;
    background-color: purple;
    color: #FFF;
    border: 1px solid #AAA;
    font-size: 2em;
    font-weight: 800;
    width: 350px;
    height: 70px;
    text-align: center;
    line-height:70px;
    margin-left:20%;

}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.input-data {
  margin-bottom: 5px;
  font-size: 1.5em;
  line-height: 180%;
  width: 100%;
  padding-left: 10px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
    color: #CCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-style: italic;
  color: #CCC;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-style: italic;
  color: #CCC;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-style: italic;
  color: #CCC;
}

#agreementCheckbox{
    margin-right: 15px;
    margin-bottom:10px;
    position: relative;
}

#final-screen-image{
  width: 85%;
  border: 3px solid purple;
  margin-left:50px;
}

#agreementForm{
    margin-top:30px
}

.text-thankyou{
    font-size: 1.3em;
}