<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

    <div class="container-fluid">
        <header th:replace="fragments/header"></header>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <form action="#" th:action="@{/admin}" method="post">
                    <div th:text="'Você possui ' + ${adminModel.numberOfPhotos} + ' fotos.' "/>

                    <button class="btn btn-primary">Gerar foto</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <form action="#" th:action="@{/admin/email}" method="post">
                    <div th:if="${adminModel.email} != null">
                        A pessoa sorteada é: <span th:text="${adminModel.name}"/> (<span th:text="${adminModel.email}"/>).
                    </div>
                    <div th:text="${messageNoHackers}" />
                    <button class="btn btn-primary">Sortear email</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</body>
</html>