<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
    <div class="container-fluid">
        <header th:replace="fragments/header"></header>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
              <div class="lucky-hacker" th:if="${adminModel.email} != null">
                  A pessoa sorteada é: <span th:text="${adminModel.name}"/> (<span th:text="${adminModel.email}"/>).
              </div>
              <div class="alert alert-warning" th:if="${messageNoHackers} != null">
                  <span th:text="${messageNoHackers}" />
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row admin-controls">
                    <a href="/downloadPhoto" class="col-md-3 col-sm-12 col-xs-12">
                        <div class="col-sm-12">
                            <p th:text="'Você possui ' + ${adminModel.numberOfPhotos} + ' fotos.'" />
                            <span class="admin-controls-span">Clique aqui para gerar a foto</span>
                        </div>
                    </a>
                    <a href="/admin/email" class="col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="col-sm-12">
                            <p>Sortear hacker do dia</p>
                            <span class="admin-controls-span">Clique aqui para descobrir o hacker</span>
                        </div>
                    </a>
                    <a href="/downloadCsv" class="col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="col-sm-12">
                          <p>Lista de Hackers</p>
                          <span class="admin-controls-span">Baixar o arquivo CSV</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
