<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ThoughtWorks - FISL</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>

</head>
<body>

    <p th:text="'Url: ' + ${error.url}" />
    <p th:text="'Exception message: ' + ${error.exception.message}" />

    <div th:each="ste : ${error.exception.stackTrace}">
        <span th:text="${ste}"></span>
    </div>
</body>
</html>