<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"> </head>
<body>
    <div class="container-fluid">
        <header th:replace="fragments/header"></header>


        <div class="row">
            <div class="col-sm-1"/>
            <div class="col-sm-10">
                <p th:text="'Url: ' + ${error.url}" />
                <p th:text="'Exception message: ' + ${error.exception.message}" />
            </div>
            <div class="col-sm-1"/>
        </div>

    </div>
</body>
</html>
