<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body scroll="no">
    <div class="container-fluid">
        <header th:replace="fragments/header"></header>
        <div id="tela-inicial">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p id="legal">
                        Confirmo que sou maior de 18 (dezoito) anos e autorizo que a ThoughtWorks utilize minha imagem,
                        coletada durante minha da participação no FISL 2015, estando autorizada a publicação em meios
                        impressos
                        ou digitais, a exclusivo critério da ThoughtWorks.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form id="agreementForm">
                        <div class="form-group text-center">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="agreementCheckbox"
                                           data-error="Você precisa aceitar os termos para continuar." required="required"/>
                                    Li e concordo com os termos mencionados.
                                </label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button class="confirm-button" type="submit">COMEÇAR!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="formulario-informacoes">
            <div class="row">
                <form data-toggle="validator" id="hackerInfo">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            <label for="inputFirstName" class="text">Qual seu primeiro nome?</label>
                            <input id="inputFirstName" type="text" class="input-data" placeholder="Informe seu nome"
                                   required="required"
                                   data-error="Por favor, insira o seu nome"/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastName" class="text">Qual seu sobrenome?</label>
                            <input id="inputLastName" type="text" class="input-data" placeholder="Informe seu sobrenome"
                                   required="required"
                                   data-error="Por favor, insira o seu sobrenome"/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="text">Qual seu email?</label>
                            <input id="inputEmail" type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                   class="input-data" placeholder="Informe seu email" required="required"
                                   data-error="Por favor, insira um email válido"/>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group text-center">
                            <input onchange="photoTaken()" type="file" accept="image/*;capture=camera" id="cameraInput" name="cameraInput"/>
                            <button class="confirm-button" type="submit">PROSSEGUIR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="final-screen">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="" alt="hackerImage" id="final-screen-image"/>
                </div>
                <div class="col-sm-5 text-thankyou">
                    <p id="thankyou"><b>MUITO OBRIGADO, HARD CODED</b></p>
                    <p> Em breve divulgaremos o <br/> resultado no Twitter! </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form action="#" th:action="@{/save}" th:object="${hacker}" method="post">
                        <input type="hidden" name="email" id="email" th:field="*{email}" />
                        <input type="hidden" name="firstName" id="firstName" th:field="*{firstName}" />
                        <input type="hidden" name="lastName" id="lastName" th:field="*{lastName}" />
                        <input type="hidden" name="imageData" id="imageData" th:field="*{imageData}" />
                        <div class="form-group text-center">
                            <button class="confirm-button" type="submit">CONFIRMAR!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/validator.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/button-control.js"></script>
</body>
</html>
