<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
      <div th:if="${param.error}">
          Invalid username and password.
      </div>
      <div th:if="${param.logout}">
          You have been logged out.
      </div>

      <div class="row">
        <div class="col-sm-4"/>
        <div class="col-sm-4">
          <form th:action="@{/login}" method="post">
            <div class="form-group">
              <label for="username" class="text" >Informe o nome de usuário</label>
              <input id="username" name="username" type="text" class="form-control" placeholder="Informe o login" />

              <label for="username" class="text" >Informe a senha</label>
              <input id="password" name="password" type="password" class="form-control" placeholder="Informe a senha" />

              <input type="submit" value="Sign In" class="btn btn-default" />
            </div>
          </form>
        </div>
        <div class="col-sm-4"/>
      </div>
    </body>
</html>
