<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ThoughtWorks - FISL</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>

</head>
<body scroll="no">
<div class="container-fluid">

  <!-- INICIO DO HEADER -->
  <div id="header">
    <div class="row">
        <div class="col-md-12" id="logo"> </div>
    </div>
    <div class="row">
        <div class="col-md-1" />
        <div class="col-md-10">
            <p id="main-header">AJUDE-NOS A CRIAR</p>
            <p id="sub-header"><em>A CARA DO <span id="hacker">HACKER BRASILEIRO</span>!</em></p>
        </div>
        <div class="col-md-1"/>
    </div>
  </div>
    <!-- FIM DO HEADER-->

    <!-- TELA INICIAL -->
    <div id="tela-inicial">
      <div class="row">
        <div class="col-md-1" />
          <div class="col-md-10">
            <ul id="legal">
              <li>Estou ciente que minhas informações podem ser usadas pela TW para bla01</li>
              <li>Estou ciente que minhas informações podem ser usadas pela TW para bla02</li>
              <li>Estou ciente que minhas informações podem ser usadas pela TW para bla03</li>
            </ul>
          </div>
        <div class="col-md-1"/>
      </div>

      <div class="row">
          <div class="col-md-8"/>
          <div class="col-md-3">
              <button id="legal-button">Ler termos completos</button>
          </div>
          <div class="col-md-1"/>
      </div>

      <div class="row">
          <div class="col-md-3"/>
          <div class="col-md-6" id="start-form">
                  <input type="checkbox" value="ok" name="agreement"/> <span id="checkbox-agreement">Li e concordo com os termos mencionados.</span>
                  <div id="empty-space"/>
                  <button onclick="showFormPage()" class="confirm-button">COMEÇAR!</button>
          </div>
          <div class="col-md-3"/>
      </div>
    </div>

    <!-- FIM DA TELA INICIAL -->

    <!-- INÍCIO DO FORMULARIO DE INFORMAÇÕES -->

    <div id="formulario-informacoes">
      <div class="col-md-2"/>
      <div class="col-md-8">
        <p class="text">Qual seu primeiro nome?</p>
        <input type="text" class="input-data" placeholder="Informe seu nome"/>
        <p class="text">Qual seu sobrenome?</p>
        <input type="text" class="input-data" placeholder="Informe seu sobrenome"/>
        <p class="text">Qual seu email?</p>
        <input type="text" class="input-data" placeholder="Informe seu email"/><br/>
        <div id="start-form">
          <button onclick="showCameraPage()" class="confirm-button">PROSSEGUIR</button>
        </div>
      </div>
      <div class="col-md-2"/>
    </div>

    <!-- FIM DO FORMULÁRIO DE INFORMAÇÕES -->

    <!-- INÍCIO MOSTRAR CÂMERA -->
    <div id="camera-show">
        <span class="btn-file">
            SHOOT!<input onchange="photoTaken()" type="file" accept="image/*;capture=camera" id="cameraInput" name="cameraInput"/>
        </span>
      <div class="col-md-3"/>
      <div class="col-md-6" id="low-center">
        <button class="confirm-button" id="take-picture">SHOOT!</button>
      </div>
      <div class="col-md-3"/>
    </div>
    <!-- FIM MOSTRAR CÂMERA -->

    <!--&lt;!&ndash; INICIO MOSTRAR FOTOS &ndash;&gt;-->
    <!--<div id="camera-picture">-->
      <!--<canvas id="canvas"></canvas>-->
      <!--<div class="col-md-3"/>-->
      <!--<div class="col-md-6" id="low-center-confirm">-->
        <!--<div id="buttons-pictures">-->
          <!--<button class="cancel-button" id="restart-camera">TENTAR DE NOVO</button>-->
          <!--<button class="ok-button" id="show-final-screen">SALVAR</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3"/>-->
    <!--</div>-->
    <!--&lt;!&ndash; FIM MOSTRAR FOTOS&ndash;&gt;-->

    <!-- INICIO TELA FINAL-->
    <div id="final-screen">
      <img src="" alt="hackerImage" id="final-screen-image" />
      <div class="col-md-3"/>
    </div>
    <!-- FIM TELA FINAL-->

</div>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/global.js"></script>
<script src="js/button-control.js"></script>
</body>
</html>
