<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ThoughtWorks - FISL</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/global.css" rel="stylesheet"/>
	</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="panelHolder">
				<!-- Settings -->
				<div class="panel panel-default" id="panelSettings">
	  				<div class="panel-body">
						<form action="#" th:action="@{/save}" th:object="${hacker}" method="post">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label for="email">Email address</label>
										<input type="email" class="form-control super-input" id="email" name="email" placeholder="Your email" th:field="*{email}" required="required"/>
									</div>
									<div class="form-group">
										<label for="firstName">First Name</label>
										<input type="text" class="form-control super-input" id="firstName" name="firstName" placeholder="Your first name" th:field="*{firstName}" required="required"/>
									</div>
									<div class="form-group">
										<label for="lastName">Last Name</label>
										<input type="text" class="form-control super-input" id="lastName" placeholder="Your last name" th:field="*{lastName}" required="required"/>
									</div>
								</div>
								<div class="col-md-8">
									<!-- Photos -->
									<video id="video" width="640" height="480" autoplay="autoplay"></video>
									<canvas id="canvas" class="hide" width="500" height="480"></canvas>
									<input type="hidden" class="form-control super-input" id="imageData" th:field="*{imageData}"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="text-right">
										<button type="submit" class="btn btn-primary super-button" id="btnSnap">Snap</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
</div>

<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/global.js"></script>


</body>
</html>